html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 24px;
  width: 30em;
  margin: 0 auto;
}

#animation {
  padding: 0;
  margin: 0 auto;
  /*border-bottom: 2px solid green;*/
  width: 25em;
  height: 8em;
  font-size: 24px;
}

#grass {
  padding: 0;
  margin: 0 auto;
  width: 25em;
  color: green;
}
#water {
  padding: 0;
  margin: 0 auto;
  width: 25em;
  color: blue;
}
